/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(30, 30, 40);
  overflow: hidden;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
  margin: 0; /* Remove any default margins */
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}
h3 {
  text-align: center;
  color: #fff;
  margin: 1%;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="password"],
select {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #add8e6;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
input[type="password"]:focus,
select:focus {
  border: 2px solid #8bc34a;
}
option {
  color: #000000;
}

[type="submit"],
button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #add8e6;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #333;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover,
button:hover {
  background: #8bc34a;
  color: #333;
}

/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Center the header title */
header h3 {
  text-align: center;
}

/* Style the navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  position: relative;
}

nav a {
  display: block;
  padding: 10px;
  color: #add8e6;
  text-decoration: none;
}

/* Style the dropdown menus */
nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  display: none;
}

nav ul ul li {
  position: relative;
}

nav ul ul a {
  padding: 10px 10px;
  color: #333;
}

nav li:hover > ul {
  display: block;
  color: #333;
  background-color: #add8e6;
}

nav li:hover > ul li:hover a {
  color: #333;
  background-color: #8bc34a;
}

nav li:hover > ul:hover {
  display: block;
}

/* Style the "Sign Out" button */
#logOut {
  background-color: #add8e6;
  color: #333;
}

#logOut:hover {
  background-color: #8bc34a;
  color: #fff;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

main h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

main p {
  font-size: 18px;
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%; /* Set the width to 100% to make it flexible */
  margin: 2rem auto;
  font-size: 1.2rem;
  overflow-x: auto; /* Add horizontal scroll when table overflows */
  max-height: 400px; /* Set a maximum height for the table */
}

thead {
  background-color: #8bc34a;
  color: #333;
}

th,
td {
  padding: 0.8rem;
  text-align: left;
  border: 1px solid #fff;
  white-space: nowrap; /* Prevent text wrapping in table cells */
}

tr:nth-child(even) {
  background-color: #fff;
}

td {
  background-color: #fff;
  color: #000000;
}

label {
  padding-left: 1%;
  margin-bottom: 2%;
  color: white;
  font-size: 24px;
}
h2 {
  color: white;
  font-size: 30px;
}

#form_login {
  background-color: #00000079;
  border: 2px solid #add8e6;
  padding: 2rem;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

#form_login label {
  display: block;
  margin-bottom: 0.5rem;
}

/* Error message styles */
.hidden {
  display: none;
}

#error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 1rem;
}

/* Container div */
#studentsDiv {
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex; /* Add flex display */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Ordered list */
#data {
  counter-reset: item;
  list-style-type: none;
  padding: 0;
  color: #8bc34a;
}

/* List item */
#data li {
  position: relative;
  margin-bottom: 20px;
}

/* List item image */
#data li img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #add8e6;
  border-radius: 50%;
}

/* List item spans */
#data li span {
  display: block;
  margin-top: 10px;
}

/* List item spans: strong */
#data li span strong {
  color: #add8e6;
}
